.hero-foot .container {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.nav.is-hidden-desktop.is-hidden-tablet .control {
    width: 100%;
}

.nav.is-hidden-desktop.is-hidden-tablet .input {
    width: 100%;
}

.nav.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.nav.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.nav.pad-sides {
    padding-left: 10px;
    padding-right: 10px;
}

img.discord-logo {
    height: 64px;
    width: 64px;

}


@media screen and (min-width: 1180px) {
    .smaller-container {
        max-width: 960px;
    }
}

@media screen and (min-width: 980px) {
    .smaller-container {
        margin: 0 auto;
        max-width: 720px;
    }
}

.smaller-container {
    position: relative;
}

.api-method-get {
    color: #97cd76;
}

.api-method-put {
    color: #42afe3;
}

.api-method-post {
    color: #ecd463;
}

.api-method-delete {
    color: #ed6c63;
}

.api-path-param {
    color: #42afe3;
}

.api-url-param {
    color: #ecd463;
}

.api-container pre {
    background-color: transparent;
}

@media screen and (min-width: 1180px) {
    .api-container {
        max-width: 1220px !important;
    }
}

td.is-unpadded {
    padding: 0 !important;
}

th.is-unpadded {
    padding: 0 !important;
}

td > table {
    margin: 0 !important;
}

table.no-border {
    border: 0 !important;
}

.icon.is-huge {
    display: inline-block;
    font-size: 168px;
    height: 174px;
    line-height: 174px;
    text-align: center;
    vertical-align: top;
    width: 174px;
}

ul.styled-list {
    list-style: circle;
    margin-left: 1rem;
}

ol.styled-list {
    margin-left: 1rem;
}

.styled-list > li > ul {
    list-style: square;
    margin-left: 1rem;
}

.tile .content {
    min-height: 6em;
}