@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x6syp9');
  src:  url('../fonts/icomoon.eot?x6syp9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x6syp9') format('truetype'),
    url('../fonts/icomoon.woff?x6syp9') format('woff'),
    url('../fonts/icomoon.svg?x6syp9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord-logo:before {
  content: "\e902";
}
.icon-Team-Mystic-Vector-Art .path1:before {
  content: "\e900";
  color: rgb(176, 176, 176);
}
.icon-Team-Mystic-Vector-Art .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(115, 115, 115);
}

